/*Basic reset*/
body, h1, h2, h3, p, a, button{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Main container styling */
.main-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Task details styling */
#task-details {
    margin-bottom: 20px;
}

h3 {
    color: #555;
    margin-bottom: 10px;
}

/* Button styling */
button {
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Edit button styling */
.btn-edit {
    background-color: #28a745; /* Green */
}

.btn-edit:hover {
    background-color: #218838;
}

/* Delete button styling */
.btn-delete {
    background-color: #dc3545; /* Red */
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Link styling */
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Additional container for the task list */
#all-tasks, #categoryList {
    margin-top: 20px;
}

/* Styling the task item container */
.task-item {
    margin-bottom: 20px;
}